In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [7]:
con = sqlite3.connect("C:/Users/dpqls/PycharmProjects/stock_analysis/db/stock_db(day)_merge.db")

In [17]:
df = pd.read_sql("SELECT day, cur_pr, high_pr, low_pr,clo_pr, acc_vol, com_buy_vol FROM A005930", con, index_col=None)

In [29]:
df = df.rename(
    {
      'cur_pr': 'open'
    , 'high_pr':'high'
    , 'low_pr':'low'
    , 'clo_pr':'close'
    , 'acc_vol':'volume'
    , 'com_buy_vol':'comvol'
    }, axis='columns'
)

In [38]:
ma5 = df['close'].rolling(5).mean()
ma10 = df['close'].rolling(10).mean()
ma20 = df['close'].rolling(20).mean()
ma60 = df['close'].rolling(60).mean()

df['ma5'] = ma5
df['ma10'] = ma10
df['ma20'] = ma20
df['ma60'] = ma60

In [39]:
df

,day,open,high,low,close,volume,comvol,ma5,ma10,ma20,ma60
0,19800104,8500,8550,8200,8200,2630,0,NaN,NaN,NaN,NaN
1,19800105,8000,8350,8000,8350,7870,0,NaN,NaN,NaN,NaN
2,19800107,8700,8850,8650,8850,12080,0,NaN,NaN,NaN,NaN
3,19800108,9350,9350,9050,9350,26880,0,NaN,NaN,NaN,NaN
4,19800109,9500,9800,9250,9800,24870,0,8910.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11060,20210405,85800,86000,84800,85400,16255990,-1475274,83340.0,82380.0,82230.0,83953.333333
11061,20210406,86200,86200,85100,86000,19042023,-2480700,84100.0,82800.0,82460.0,84005.000000
11062,20210407,86100,86200,85400,85600,17885538,-1807298,84940.0,83260.0,82695.0,83951.666667
11063,20210408,85700,85700,84100,84700,19244259,-3195948,85300.0,83610.0,82830.0,83846.666667
11064,20210409,84700,84900,83400,83600,18193707,-3150053,85060.0,83820.0,82870.0,83730.000000

In [40]:
df.to_csv('005930t.csv')